{% extends "layout.html" %}
{% block content %}
<script language="JavaScript">
	setInterval(reload(true), 120000);
</script>
<script src="/static/hover.js" type="text/javascript"></script>


<div id="sidebar" class="col-lg-4">
	<div id="filter_div">
		<form action="">
			<h3>Filters:</h3>

			<img src="/static/greenbulb.png" id="greenBulb" />
			<input type="checkbox" name="activity" value="Study" checked onclick="filter_study(this)">Who wants to study?</input><br>
			<img src="/static/redbulb.png" id="redBulb" />
			<input type="checkbox" name="activity" value="GetFood"checked onclick="filter_food(this)">Who wants to get food?</input><br>
			<img src="/static/bluebulb.png" id="blueBulb" /><input type="checkbox" name="activity" value="HangOut" checked onclick="filter_hangout(this)">Who wants to hang out?</input><br>
		</form>
	</div> <!--end filter_div -->

	<!-- List of people -->
	<div id="online_users">
		<h3>Online Users:</h3>
		<ul class=entries>
			{% for entry in entries %}
				<li class="{{ entry.activity.replace (" ", "_") }}"><a href={{ url_for ('chat') }}><strong> {{ entry.name }} </strong> wants to {{ entry.activity }} in {{ entry.location }}: "<em>{{ entry.status }}</em>"</a>
			{% endfor %}
		</ul>
	</div> <!-- end online_users -->
</div><!-- end div sidebar -->

<canvas id="myCanvas"></canvas> <!-- gets repositioned in myInit -->

<div id="map" class="row col-lg-8">
	<img class="col-lg-12" src="/static/someCollege.png" id="haverfordMap" usemap='#imageMap' />
	<map id="imageMap" name="imageMap">
	    <area shape="poly" onmouseover='myHover(this);' onmouseout='myLeave();' title="KINSC" coords="294,393,313,459,388,449,398,471,422,459,376,373" id="KINSC">
	    <area shape="poly" onmouseover='myHover(this);' onmouseout='myLeave();' title="EVERYTHING" coords="0,0,0,500,500,500,500,0" id="EVERYTHING">
	</map>
</div> <!-- end div map -->

<script type="text/javascript">
    myInit();
</script>

{% endblock %}
